<link rel="stylesheet" href="/css/home.css" />
<section id="page_header">
  <button
    id="add_btn"
    type="button"
    class="btn"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    <i
      class="fa-solid fa-plus fa-bounce fa-lg"
      style="color: #cf3075; background: transparent"
    ></i>
    Add Project
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Project</h5>
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            X
          </button>
        </div>
        <form
          action="/projects/create"
          method="post"
          id="add-project-form"
          style="background: transparent; margin: 0"
        >
          <div class="modal-body">
            <input
              type="text"
              class="input-style"
              placeholder="Type Project Name..."
              name="project_name"
              required
            />
            <textarea
              name="description"
              cols="30"
              rows="3"
              class="input-style"
              placeholder="Type Here...."
              required
            ></textarea>
            <input
              type="text"
              class="input-style"
              placeholder="Write Author Name..."
              name="author_name"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn close-btn" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn save-btn">Add Project</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="project-list">
  <% for(p of projects) {%>
  <div class="card-div">
    <div class="all_back"><b class="all_back">Title: </b> <%= p.name %></div>
    <div class="all_back" style="width: 100%;">
      
      <p class="description-p"><b class="all_back">Description: </b> <%= p.description %></p>
    </div>
    <div class="all_back" style="width: 100%; display: flex;">
      <div class="all_back" style="text-align: start;margin-left: 0;">
        <b class="all_back">Total Issue: </b>
        <span class="all_back"> <%= p.issues.length %></span>
      </div>
      <div class="all_back" style="text-align: end;margin-right: 0;">
        <b class="all_back">Author: </b>
        <span class="all_back"> <%= p.author %></span>
      </div>
    </div>
  </div>
  <% } %>
</section>
