<link rel="stylesheet" href="/css/projectDetails.css" />
<section id="page_header">
  <button
    id="add_btn"
    type="button"
    class="btn"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    <i
      class="fa-solid fa-plus fa-bounce fa-lg"
      style="color: #cf3075; background: transparent"
    ></i>
    Add Issue
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Issue</h5>
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            X
          </button>
        </div>
        <form
          action="/issues/create/<%= project_details._id%>"
          method="post"
          id="add-issue-form"
          style="background: transparent; margin: 0"
        >
          <div class="modal-body">
            <input
              type="text"
              class="input-style"
              placeholder="Enter Issue Title...."
              name="issue_name"
              required
            />
            <textarea
              name="description"
              cols="30"
              rows="3"
              class="input-style"
              placeholder="Type Here...."
              required
            ></textarea>

            <input
              type="text"
              class="input-style"
              placeholder="Write Author Name..."
              name="author_name"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn close-btn" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn save-btn">Add Issue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
